:root{
    --color-01: #fff;
    --color-02: #000;
    --dark-blue-bb: #002B55;
    --clear-blue-bb: #adcff0;
    --yellow-bb: #AF7827;
    --clear-yellow-bb: #fdcb818f;
    --active: #8e00ae;

    --nav-height: 60px;
    --nav-gap: 25px;
}

/* - Geral - */

body{
    background-color: var(--dark-blue-bb);
}

h2{
    margin: .6em 0;
}

a{
    color: var(--dark-blue-bb);
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: var(--yellow-bb);
}

section{
    padding-bottom: 2.5rem;
}

/* - Final Geral - */

/* - Botões - */
.btn-blue{
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--dark-blue-bb);
    color: var(--color-01);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.btn-blue:active{
    background-color: var(--yellow-bb);
    color: var(--dark-blue-bb);
}

.btn-inscricao{
    padding: 1rem 20rem;
}
/* - Final Botões - */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: var(--color-01);
}

nav > ul{
    list-style: none;
    display: flex;
    gap:var(--nav-gap);
}

nav .menu-item{
    text-decoration: none;
    color: var(--dark-blue-bb);
    transition: all 0.2s ease;
}

nav .menu-item:hover{
    color: var(--yellow-bb);
    border-bottom: 2px solid #AF7827;
}

main > .banner{
    max-width: 100vw;
}
main > .banner img{
    width: 100%;
}

main > article{
    max-width: 900px;
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
    padding: 25px;
    background-color: var(--color-01);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

main > article .pageTitle h1{
    text-align: center;
    font-size: 3em;
    color: var(--yellow-bb);
}

main > article .subTitle{
    margin: 1.2em 0;
    
}

/* - Hoteis - */
main .hoteis{
    padding: 45px;
    border-radius: 15px;
}

main .hoteis ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
}

main .hoteis li{
    padding-top: 15px;
}

main .hoteis a{
    color: var(--dark-blue-bb);
    font-weight: normal !important;
    text-decoration: none !important;
}

main .hoteis a:hover{
    color: var(--yellow-bb);
}

main .hoteis a:visited{
    color: var(--active);
}
/* - Final dos Hoteis - */


/* - Modal - */
/* 
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:80px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
}

#flex-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeModal{
    color: var(--color-01);
    font-size: 2.5em;
    position: fixed;
    right: 30px;
    top: 50px;
    cursor: pointer;
}

#imgModal{
    width: 100%;
    max-width: 800px;
    min-width: 380px;
    border-radius: 15px;
}
*/
/* - Final Modal - */



/* - Canva - */
#tabelaCanvas{
    display: flex;
    justify-content: center;
    align-items: center;
}

#defaultCanvas0{
    display: block;
    padding-top: 1em;
    width: 400px !important;
    height: 800px !important;
}
/* - Final Canva - */